
.title{
    padding-left: 80px;
}

h1, h2 {
    color: #FFFFFF;
    
}
  
h1 {
    font-size: 58px !important;
}
  
h2 {
    font-size: 40px !important;
}

.btn-blue{
    background-color:#25a9e8;
    color:white;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    text-decoration: none !important;
}

.btn-blue:hover{
    background-color: #025DA4;
    color:white !important;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    text-decoration: none !important;
}
.background-image {
    background-size:cover !important; 
    height: 100vh;
    padding: 150px 0;
    background: linear-gradient(to right, rgba(0,0,0, 0.6), rgba(0,0,0,0.6)), url(images/1.jpg);
    align-items: center !important;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 140px;
}

.avantage img {
    width: 104px;
}

.avantage{
    background-color: #25a9e8;
    padding: 20px 30px;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 240px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
}

.avantage p{
    margin-top: 10px;
}

.disc{
    text-align: center;
    font-size: 50px;
    padding: 40px;
}

.container2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.screen p{
    text-align: center;
    margin-top: 10px;
}

.screen img{
    text-align: center !important;
    margin: 0 auto;
    width: 200px;
}

.screen {
    width: 25%;
}


.call-to-action{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
}

.footer p{
    padding-top: 80px !important;
    padding-bottom: 85px;
}